=====================================
Roadmap & SDyPy Enhancement Proposals
=====================================

This page provides an overview of development priorities for SDyPy.
Specifically, it contains a roadmap with a higher-level overview, as
well as SDyPy Enhancement Proposals (SEPs)—suggested changes
to the library—in various stages of discussion or completion (see `SEP
0 <sep-0000>`__).

Roadmap
-------
.. toctree::
   :maxdepth: 1

   The Scope of SDyPy <scope>
   Current roadmap <roadmap>
   Wish list <https://github.com/sdypy/sdypy/issues?q=is%3Aopen+is%3Aissue+label%3A%2223+-+Wish+list%22>

Meta-SEPs (SEPs about SEPs or Processes)
----------------------------------------

.. toctree::
   :maxdepth: 1

{% for sep, tags in seps.items() if tags['Status'] == 'Active' %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}

   sep-template


{% if has_provisional %}

Provisional SEPs (provisionally accepted; interface may change)
---------------------------------------------------------------

.. toctree::
   :maxdepth: 1

{% for sep, tags in seps.items() if tags['Status'] == 'Provisional' %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}

{% endif %}


Accepted SEPs (implementation in progress)
------------------------------------------

.. toctree::
   :maxdepth: 1

{% for sep, tags in seps.items() if tags['Status'] == 'Accepted' %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}


Open SEPs (under consideration)
-------------------------------

.. toctree::
   :maxdepth: 1

{% for sep, tags in seps.items() if tags['Status'] == 'Draft' %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}



Finished SEPs
----------------

.. toctree::
   :maxdepth: 1

{% for sep, tags in seps.items() if tags['Status'] == 'Final' %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}

Deferred and Superseded SEPs
----------------------------

.. toctree::
   :maxdepth: 1

{% for sep, tags in seps.items() if tags['Status'] in ('Deferred', 'Superseded') %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}

Rejected and Withdrawn SEPs
---------------------------

.. toctree::
   :maxdepth: 1

{% for sep, tags in seps.items() if tags['Status'] in ('Rejected', 'Withdrawn') %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}

